        body {
            font-family: "Jua", sans-serif;
            margin: 10px;
            padding: 10px;
            background-image: url("photo/backgroundimg.png");
        }
        header {
            height: 80px;
            background-color: lightblue;
            color: rgb(35, 32, 142);
            border: 3px solid rgb(136, 135, 135);
            border-radius: 10px;
            text-align: center;     /* 글자 가운데 정렬 */
            position: relative;
            top: 10px;              /* 상단에서 20px 띄움 */
        }
        main {
            padding: 100px;
            color: lightsteelblue;
            display: flex;
            justify-content: space-between; /* 요소들 사이의 간격을 최대화하여 가로로 배치 */
            align-items: center;
            overflow: auto;
        }

        main > div {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        section {
            flex: 1; /* 동일한 너비를 가지도록 설정 */
            align-self: center;
            border: 3px solid rgb(136, 135, 135);
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 10px;
            height: 600px;
            margin-left: 20px;
        }
        img {
            display: block; /* 블록 요소로 설정하여 가운데 정렬 가능하도록 함 */
            margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
            border-radius: 10px;
            border-style: dashed;
        }
        ul{ 
            font-size: 30px;
            list-style: url("photo/blueheart.png");
        }
            
        
        footer {
            /*background-color: lightblue;*/
            color: rgb(35, 32, 142);
            padding: 20px;
            text-align: center;     /*글자 가운데 정렬*/
            position: fixed;
            width: 100%;
            bottom: 0;
        }