body {
    font-family: "Jua", sans-serif;
    margin: 10px;
    padding: 10px;
    background-image: url("photo/backgroundimg4.png");
    color: rgb(88, 108, 9);
}
header {
    height: 80px;
    background-color: rgba(173, 216, 230, 0.2);
    color: rgb(146, 241, 122);
    border: 3px solid rgb(136, 135, 135);
    border-radius: 10px;
    text-align: center;     /* 글자 가운데 정렬 */
    position: relative;
    top: 10px;              /* 상단에서 20px 띄움 */
}
section{
    display: flex;
    border-style: dashed;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
div{
    margin: 20px;
}
img {
    margin: 10px;
    border-radius: 10px;
    border-style: dashed;
}
.largetext{
    font-size: 25px;
    color: rgb(117, 14, 74);
}
.perfumetitle{
    font-size: 23px;
    color: rgb(52, 92, 167);
}